<!doctype html>
<html lang="{{ .Site.Language.Locale }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    {{ partial "og.html" . }} {{ partial "style.html" . }}
    <title>
      {{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title
      }}{{ end }}
    </title>
  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="content-wrap">
      {{ block "main" . }}{{ end }} {{ partial "footer.html" . }}
    </div>

    <script>
      document
        .getElementById("google-search-form")
        .addEventListener("submit", function () {
          const input = document.getElementById("search-word");
          const prefix = "site:computer-union.jp ";

          if (!input.value.startsWith(prefix)) {
            input.value = prefix + input.value;
          }
        });
    </script>
  </body>
</html>
