{{ define "main" }}
{{ if or (eq .Section "blog") (eq .Section "job") }}
<main>
  <h1>{{
    if eq .Section "blog" }}<span class="material-symbols-outlined">newsmode</span>ブログ{{
    else if eq .Section "job" }}<span class="material-symbols-outlined">work</span>しごと情報{{
    else }}{{ .Title }}{{ end }}
  </h1>
  {{ $sorted := .Pages.ByDate.Reverse }} {{ if or (eq .Section "blog") (eq
  .Section "job") }} {{ $paginator := .Paginate $sorted 25 }}
  <ul class="articles">
    {{ range $paginator.Pages }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  {{ template "_internal/pagination.html" . }} {{ else }}
  <ul>
    {{ range $sorted }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
  </ul>
  {{ end }}
</main>
{{ else }}
<main>{{ .Content }}</main>
{{ end }}
{{ end }}
