{{ define "main" }}
<main>
  <p class="return-index">
    {{ if eq .Section "blog" }}<a href="/blog/"
      ><span class="material-symbols-outlined">newsmode</span> ブログ</a
    >{{ else if eq .Section "job" }}<a href="/job/"
      ><span class="material-symbols-outlined">work</span> しごと情報</a
    >{{ end }}
  </p>
  {{ $isPostSection := or (eq .Section "blog") (eq .Section "job") }} {{ if
  $isPostSection }}{{ partial "post-nav.html" . }}{{ end }}
  {{ $isPostSection := (eq .Section "job") }} {{ if
  $isPostSection }}<h1 class="job-title">{{ .Title }}</h1>{{ else }}<h1>{{ .Title }}</h1>{{ end }}
  {{ .Content }} {{ if
  $isPostSection }}{{ partial "post-nav.html" . }}{{ end }}
</main>
{{ end }}
