<script>
setColorScheme(localStorage.getItem('colorScheme') || 'light dark');

function setColorScheme(scheme) {
  localStorage.setItem('colorScheme', scheme);
  document.documentElement.style.setProperty("color-scheme", scheme);
  document
    .querySelectorAll("img.with-dark-mode")
    .forEach(img => {
      img.style.filter =
        scheme === "dark" ? "invert(12.5%)" : "";
    });
}
</script>
<div id="dark-mode-selection">
  <button onclick="setColorScheme('light dark');">
    <span class="material-symbols-outlined">brightness_auto</span>
  </button>
  <button onclick="setColorScheme('light');">
    <span class="material-symbols-outlined">light_mode</span>
  </button>
  <button onclick="setColorScheme('dark');">
    <span class="material-symbols-outlined">dark_mode</span>
  </button>
</div>
