<footer class="site-footer">
  <p>
    <a href="/pages/rokyo_overview/">労働者供給事業</a> の案件の内容・条件の例は
    <a href="/job/">しごと情報</a> をご参照ください。全案件の詳細な情報は加入後に共有いたします。
  </p>
  <p>
    <a href="{{ .Site.Params.contact_url }}" target="_blank" rel="noopener noreferrer">
      <span class="material-symbols-outlined">live_help</span> 加入のご相談・お問い合わせ
    </a>
  </p>
  <p>
    <a href="/images/rokyoannai_20240707.pdf">
      <span class="material-symbols-outlined">print</span> 労働者供給事業のご案内(PDF)
    </a>
  </p>
  <p>
    <a href="mailto:info@computer-union.jp">
      <span class="material-symbols-outlined">mail</span> info@computer-union.jp
    </a><br>
    <span class="material-symbols-outlined">phone</span> 03-5603-4572<br>
    <span class="material-symbols-outlined">fax</span> 03-5603-7265<br>
  </p>
  <p>
    〒110-0003<br>
    東京都台東区根岸3-25-6<br>
    タブレット根岸2F
  </p>
  <p>
    <span class="material-symbols-outlined">directions_walk</span> JR東日本 鴬谷駅北口下車 三河島方面へ徒歩5分<br>
    <a href="https://maps.app.goo.gl/sUCVVuDLinZip2Dc8" target="_blank" rel="noopener noreferrer">
      <span class="material-symbols-outlined">place</span> Google Maps
    </a>
  </p>
  <h3>関西事務所</h3>
  <p>
    〒 532-0011<br>
    大阪市淀川区西中島3-16-17<br>
    丸善西中島ビル4階2号室<br>
  </p>
  <p>
    <span class="material-symbols-outlined">directions_walk</span> 阪急京都本線 南方駅下車徒歩1分<br>
    <span class="material-symbols-outlined">directions_walk</span> 大阪メトロ御堂筋線 西中島南方駅下車徒歩2分<br>
    <a href="https://maps.app.goo.gl/wjjkcyhELXYT8Ry79" target="_blank" rel="noopener noreferrer">
        <span class="material-symbols-outlined">place</span> Google Maps
    </a>
  </p>
  <p class="social-media">
    <a href="https://twitter.com/cu_ssms" target="_blank" rel="noopener noreferrer">
      <img src="/images/twitter.png" alt="Twitter">
    </a>
    <a rel="me" href="https://fedibird.com/@cuswsxn" target="_blank" rel="noopener noreferrer">
      <img src="/images/mastodon.png" alt="Mastodon">
    </a>
    <a href="https://misskey.io/@cuswsxn" target="_blank" rel="noopener noreferrer">
      <img src="/images/misskey_io.png" alt="Misskey.io">
    </a>
    <a href="https://bsky.app/profile/cuswsxn.bsky.social" target="_blank" rel="noopener noreferrer">
      <img src="/images/bluesky.png" alt="Bluesky">
    </a>
    <a href="https://www.threads.net/@cuswsxn_" target="_blank" rel="noopener noreferrer">
      <img src="/images/threads.png" alt="Threads">
    </a>
    <a href="https://www.instagram.com/cuswsxn_" target="_blank" rel="noopener noreferrer">
      <img src="/images/Instagram.png" alt="Instagram">
    </a>
  </p>
  <p class="mobile-center">
    <img src="/images/qrcomputerunionjp.png" alt="https://computer-union.jp/" />
  </p>
  <p class="mobile-center">
    <a href="/pages/policy/">
     プライバシーポリシー
    </a><br>
    ©︎ コンピュータ・ユニオン<br>
    ヘッダの写真は
    <a href="https://commons.wikimedia.org/wiki/File:ENIAC_Penn1.jpg" target="_blank" rel="noopener noreferrer">
      ENIAC
    </a>
    です。
  </p>
</footer>
