<img src="/images/ENIAC.jpg" alt="ENIAC" />
<header class="site-header">
  <p class="site-title"><a href="{{ "/" | relLangURL }}">{{ .Site.Title }}</a></p>
  <nav class="site-nav">
    <ul>
      <li><a href="/pages/rokyo_overview/">労働者供給事業</a></li>
      <!-- リリース時にお問い合わせ先を /contact/ へ差し替える -->
      <li><a href="{{ .Site.Params.contact_url }}">加入のご相談・お問い合わせ</a></li>
    </ul>
  </nav>
  <form
    id="search-form"
    class="site-search"
    action="https://www.google.com/search"
    method="get"
    target="_blank"
    role="search"
  >
    <input type="search" id="search-word"　value="" placeholder="サイト内検索">
    <button id="google-search">
      <img src="/images/GoogleG_FullColor_RGB.png" alt="Google" />
    </button>
    <button id="bing-search">
      <img src="/images/bing-logo.png" alt="Bing" />
    </button>
    <button id="duckduckgo-search">
      <img src="/images/DuckDuckGoLogoDaxSolo.svg" alt="DuckDuckGo" />
    </button>
  </form>
</header>
