<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>
<link rel="stylesheet" href="/style.css">

<meta name="og:title" content="コンピュータ・ユニオン" />
<meta name="og:image" content="https://computer-union.jp/images/ENIACL.jpg" />
<meta
  property="og:description"
  content="コンピュータ・ユニオンはIT業界で働く人たちの個人加盟の労働組合です。職場に労働組合がなくてもだいじょうぶ。契約社員、派遣、フリーランスの人もぜひご加入ください。求職中の方には職安法45条に基づく労働者供給事業で仕事の紹介をいたします。"
/>
<meta
  property="og:image"
  content="https://computer-union.jp/images/ENIACL.jpg"
/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@cu_ssms" />
<meta
  name="twitter:image"
  content="https://computer-union.jp/images/culogo512.png"
/>

<meta name="og:title" content="コンピュータ・ユニオン" />
<meta name="og:image" content="https://computer-union.jp/images/ENIACL.jpg" />
<meta
  property="og:description"
  content="コンピュータ・ユニオンはIT業界で働く人たちの個人加盟の労働組合です。職場に労働組合がなくてもだいじょうぶ。契約社員、派遣、フリーランスの人もぜひご加入ください。求職中の方には職安法45条に基づく労働者供給事業で仕事の紹介をいたします。"
/>
<meta
  property="og:image"
  content="https://computer-union.jp/images/ENIACL.jpg"
/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@cu_ssms" />
<meta
  name="twitter:image"
  content="https://computer-union.jp/images/culogo512.png"
/>
<link rel="icon" href="https://computer-union.jp/images/culogo32.png" sizes="32x32" />
<link rel="icon" href="https://computer-union.jp/images/culogo192.png" sizes="192x192" />
<link rel="apple-touch-icon" href="https://computer-union.jp/images/culogo180.png" />
<meta name="msapplication-TileImage" content="https://computer-union.jp/images/culogo270.png" />
