<meta name="og:title" content="コンピュータ・ユニオン" />
<meta name="og:image" content="https://computer-union.jp/images/ENIACL.jpg" />
<meta
  property="og:description"
  content="コンピュータ・ユニオンはIT業界で働く人たちの個人加盟の労働組合です。職場に労働組合がなくてもだいじょうぶ。契約社員、派遣、フリーランスの人もぜひご加入ください。求職中の方には職安法45条に基づく労働者供給事業で仕事の紹介をいたします。"
/>
<meta
  property="og:image"
  content="https://computer-union.jp/images/ENIACL.jpg"
/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@cu_ssms" />
<meta
  name="twitter:image"
  content="https://computer-union.jp/images/culogo512.png"
/>
