<style>
  body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #222;

    display: flex;
    flex-direction: column;
    gap: 0

    > img {
      margin: 0;
      padding: 0;
      width: 100%
    }
    img {
      max-width: 100%;
    }

    a {
      color: #00838f;
    }

    .material-symbols-outlined {
      font-variation-settings:
        "FILL" 0,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
      vertical-align: top;
      margin-top: 0.25rem;
      font-size: 125%;
    }

    h1, h2, h3, h4, h5, h6 {
      display: flex;
      align-items: center;
      gap: 0.5em;
      line-height: 150%;
    }

    table {
      border-collapse: collapse;
      td {
        border: 1px solid lightgray;
        padding: 0 0.5rem;
      }
      td:first-child {
        background-color: whitesmoke;
      }
    }

    .site-header {
      position: sticky;
      z-index: 10;
      top: 0px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0.5rem 1rem;
      gap: 1rem;
      background: #f4faf8;

      .site-title {
        margin: 0;
        font-size: 1.6rem;
        a {
          text-decoration: none;
        }
      }

      .site-nav {
        ul {
          list-style: none;
          display: flex;
          flex-wrap: wrap;
          gap: 0.25rem;
          margin: 0;
          padding: 0;

          li {
            padding: 0 0.75rem;
          }
        }
      }

      #search-form {
        display: flex;
        align-items: center;
        padding: 4px;
        border-radius: 4px;
        outline: 1px solid darkslategrey;
        width: 20rem;
        background: white;

        #search-word {
          flex-grow: 1;
          appearance: none;
          -webkit-appearance: none;
          border: none;
          outline: none;
          height: 2rem;
          background: transparent;
          font-size: 100%;
        }

        button {
          appearance: none;
          -webkit-appearance: none;
          border: none;
          outline: none;
          background-color: transparent;
          cursor: pointer;

          img {
            width: 1.5rem;
            min-width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
    }

    #content-wrap {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      align-items: flex-start;

      main {
        flex: 2;
        padding: 1rem;
        line-height: 175%;

        .image-right {
          width: 30%;
          float: right;
          margin-left: 1rem;
        }

        .image-left {
          width: 30%;
          float: left;
          margin-right: 1rem;
        }
      }

      .site-footer {
        flex: 1;
        margin: 0;
        padding: 0.5rem 1rem;
        font-size: 0.9rem;

        .material-symbols-outlined {
          vertical-align: top;
          font-size: 150%;
        }

        .social-media {
          display: flex;
          justify-content: start;
          gap: 1rem;

          a {
            text-decoration: none;

            img {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    body {
      .site-header {
        position: static;
        height: 128px;
        gap: 0.125rem;
        padding: 0.125rem 0.25rem;
        justify-content: center;

        .site-title {
          font-size: 1.2rem;
        }

        .site-nav {
          ul {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 0.25rem;
            margin: 0;
            padding: 0;

            li {
              padding: 0 0.75rem;
              width: 40%;
              line-height: 125%;
            }
          }
        }

        #search-form {
          width: calc(100vw - 2rem);

          #search-word {
            width: calc(100vw - 8rem);
          }
        }
      }

      #content-wrap {
        flex-direction: column;

        main {
          .image-right,
          .image-left {
            width: 60%;
            float: none;
            margin: 0 20%;
            text-align: center;
          }
        }

        .site-footer {
          .social-media {
            display: flex;
            justify-content: center;
          }

          .mobile-center {
            text-align: center;
          }
        }
      }
    }
  }

  .latest-posts {
    list-style: none;
    padding-left: 1rem;
  }

  .post-nav {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
    font-size: 0.9rem;
  }

  .articles {
    list-style: none;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
  }

  .pagination {
    list-style: none;
    padding-left: 1rem;
    display: flex;
    gap: 1rem;
    margin: 1rem 0;

    a {
      text-decoration: none;
    }

    .disabled,
    .active {
      a {
        color: lightsteelblue;
        cursor: default;
      }
    }
  }

  .return-index {
    margin: 0;
    padding: 0;
    text-align: right;
  }
</style>
